* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy";
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

body {
  background-color: #151517;
  background-size: 100% auto;
  background-position: center 0;
  background-repeat: repeat-y;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

button {
  background: none;
  border: medium none currentColor;
  border: initial;
  outline: none;
}

input {
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  background: initial;
  outline: none;
  border: medium none currentColor;
  border: initial;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.micra {
  font-family: "Micra";
}
.text-bold {
  font-weight: 700;
}
.mt-30px {
  margin-top: 30px;
}
.mt-20px {
  margin-top: 20px;
}
.input input {
  background: #ffffff;
  border-radius: 4px;
  padding: 13px 15px;
  width: 100%;
}

.wrap {
  max-width: 1192px;
  margin-left: auto;
  margin-right: auto;
}
.slider_wrap{
  max-width: 1288px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.backdrop-blur {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.backdrop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  display: none;
  position: relative;
  z-index: 2;
}
.modal#callback-modal,
.modal#subscribe-modal {
  max-width: 100%;
  width: 436px;
}
.modal#video-modal {
  max-width: 100%;
  width: 855px;
}
.modal#presentation-modal {
  max-width: 100%;
  width: 638px;
}
.modal.active {
  display: block;
}
.modal-close {
  position: absolute;
  top: -16px;
  right: -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal .modal-content {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 80px rgba(180, 154, 248, 0.5);
          box-shadow: 0px 0px 80px rgba(180, 154, 248, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}
.modal-content iframe {
  max-width: 100%;
  max-height: 100%;
}
.gradient-modal .modal-content {
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(127, 0, 255, 0.07)),
      to(rgba(127, 0, 255, 0.07))
    ),
    rgba(0, 0, 0, 0.1);
  background: linear-gradient(
      0deg,
      rgba(127, 0, 255, 0.07),
      rgba(127, 0, 255, 0.07)
    ),
    rgba(0, 0, 0, 0.1);
  border: 1px solid #7f00ff;
  -webkit-box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  padding: 30px 25px;
}
.modal-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  width: 100%;
}
.modal#subscribe-modal .modal-title {
  font-size: 24px;
}
.modal-text {
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  width: 100%;
}
.modal-text a {
  color: #fff;
}
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}
.modal-input {
  width: 100%;
}
.modal-input input {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.modal-input.w-50 {
  width: calc(50% - 5px);
}
.modal-form .modal-btn {
  width: 100%;
}
.modal-form .modal-btn.btn-orange {
  padding: 15px;
  line-height: 20px;
}
.modal-user_consent {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  width: 100%;
}

/* header */
header {
  display: block;
}

body {
  background-image: url(../images/body-background-resized.webp);
  background-size: auto;
}

.btn {
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 6px 16px;
}
.btn-orange {
  background-color: #ea3323;
  color: #fff;
}
.btn-orange:hover {
  background-color: #f43d2d;
}
.btn-background-gradient {
  color: #fff;
  position: relative;
  overflow: hidden;
}
.btn-background-gradient .inner-container {
  position: relative;
}
.btn-background-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  background: linear-gradient(88.37deg, #64398e 60.21%, #2f49d3 102.29%);
}
.btn-background-gradient:hover:before,
.call-gradient-hover:hover .btn-background-gradient:before {
  left: 0;
  background: linear-gradient(262.63deg, #64398e 60.21%, #2f49d3 102.29%);
}

.header-logo_line-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 0 20px;
}

.header-logo_line-logo {
  margin-right: 46px;
}

.header-logo_line-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-logo_line-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(234, 51, 35, 0.5);
}
.header-logo_line-search-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.header-logo_line-search-input::-webkit-input-placeholder {
  color: #fff;
}
.header-logo_line-search-input::-moz-placeholder {
  color: #fff;
}
.header-logo_line-search-input:-ms-input-placeholder {
  color: #fff;
}
.header-logo_line-search-input::-ms-input-placeholder {
  color: #fff;
}
.header-logo_line-search-input::placeholder {
  color: #fff;
}
.header-logo_line-search-icon,
.header-logo_line-reset-icon {
  height: 100%;
  padding: 11px 0;
}
.header-logo_line-search-icon,
.header-logo_line-reset-icon.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo_line-reset-icon {
  padding-top: 13px;
  margin-left: 20px;
}
.header-logo_line-search .search_result {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: rgba(17, 17, 17, 0.6);
  -webkit-box-shadow: 0px 10px 50px rgba(220, 1, 1, 0.3);
          box-shadow: 0px 10px 50px rgba(220, 1, 1, 0.3);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  width: 100%;
  padding: 0 10px;
  z-index: 3;
}
.header-logo_line-search .search_result.active {
  display: block;
}
.header-logo_line-search .search_result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header-logo_line-search .search_result-item + .search_result-item {
  border-top: 1px solid #ea3323;
}
.search_result-item-name {
  color: #fff;
  font-size: 14px;
  line-height: 120%;
}
.search_result-item-found {
  font-weight: 700;
}

.header-logo_line-social_icons,
.sliding_menu-social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header-logo_line-social_icons {
  margin-left: 54px;
}
.header-logo_line-social-item,
.sliding_menu-social-item {
  background: #7f00ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.header-logo_line-social-item:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#9933ff), to(#9933ff)), #7f00ff;
  background: linear-gradient(0deg, #9933ff, #9933ff), #7f00ff;
}

.header-logo_line-callback {
  margin-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo_line-address {
  max-width: 202px;
  margin-left: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.header-logo_line-callback-phone,
.sliding_menu-callback-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-logo_line-callback-phone:hover {
  color: #ea3323;
}
.header-logo_line-callback-button,
.sliding_menu-callback-button {
  margin-top: 2px;
  color: #ea3323;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.header-logo_line-callback-button:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
/* header */

.slider_wrap .swiper-button-prev,
.slider_wrap .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  margin-top: -13px;
}
.slider_wrap .swiper-button-next:after,
.slider_wrap .swiper-button-prev:after{
  content: none  
}
.slider_wrap .swiper-button-next.swiper-button-disabled,
.slider_wrap .swiper-button-prev.swiper-button-disabled{
  cursor: not-allowed;
}
.slider_wrap .swiper-navigation-disabled .swiper-button-next,
.slider_wrap .swiper-navigation-disabled .swiper-button-prev {
  display: none;
}
.slider_wrap .swiper-button-prev:not(.swiper-button-disabled):hover,
.slider_wrap .swiper-button-next:not(.swiper-button-disabled):hover {
  opacity: 1;
}

.slider_wrap .swiper-button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
}
.slider_wrap .swiper-button-next {
  right: 0;
}
.slider_wrap .swiper-autoheight .swiper-wrapper{
  padding-bottom: 20px;
}
.slider_wrap .slider_wrap .swiper-horizontal>.swiper-pagination-bullets{
    bottom: 0;
}
.slider_wrap .swiper-pagination-bullet {
  display: inline-block;
  height: 100%;
  width: 50px;
  margin: 0 5px;
  border-radius: 0;
  border-radius: initial;
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  background: initial;
}
.slider_wrap .swiper-pagination-bullet:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  opacity: 0.5;
}

.slider_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  opacity: 1;
}
.slider_wrap .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.download-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.download-pdf-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-feature-settings: "pnum", "lnum";
          font-feature-settings: "pnum", "lnum";
}
.download-pdf-title {
  text-transform: uppercase;
}
.download-pdf-desc {
  text-align: left;
}

.page_block-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  /* flex-wrap: wrap; */
}
.page_block-title{
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: #fff;
  width: 50%;
}
.page_block-desc {
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  width: 50%;
}
.border-gradient{
  position: relative;
}
.border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px; 
  padding: 2px; 
  background: linear-gradient(88.37deg, #64398e 20.21%, #2f49d3 102.29%); 
  -webkit-mask: 
      -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0, #fff)) content-box, 
      -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0, #fff)); 
  -webkit-mask: 
      linear-gradient(#fff 0, #fff 0) content-box, 
      linear-gradient(#fff 0, #fff 0); 
  -webkit-mask: 
      -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, 
      -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)); 
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
