<!DOCTYPE html>
<html lang="ru">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">

        <meta name="robots" content="noindex, nofollow">

        <title>Top-VR</title>
        <meta name="description" content="Top-VR Desc">

        <link rel="apple-touch-icon" sizes="180x180" href="/upload/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/upload/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/upload/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/upload/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/upload/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/upload/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="msapplication-TileImage" content="/upload/images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/upload/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <%= require('html-loader!./header.html').default %>
        <div class="body">
            <%= require('html-loader!./banner_slider.html').default %>
            <%= require('html-loader!./advantages.html').default %>
            <%= require('html-loader!./sections_slider.html').default %>

            <%= require('html-loader!./main_callback_form.html').default %>
        </div>
        <%= require('html-loader!./footer.html').default %>
    </body>
</html>